@charset "utf-8";
/* 
直接HTMLにstyle属性を記述してしまうと、レスポンシブ対応などをさせるときにcssで上書きができなくなってしまう、→避ける */

header {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

header .image1 {
  float: left;
}
header .homepage-name {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}


.drawer-hamburger-icon,
.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
  background-color: orange;
  height: 4px;
}

.drawer-open {
  background-color: gray;
}

.drawer-menu-item:hover {
  color: blue;
}

/* ハンバーガーメニューが開いた状態のcss */
.drawer-open .drawer-hamburger-icon:before,
.drawer-open .drawer-hamburger-icon:after {
  background-color: orange;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 0;
}

/* ハンバーガーメニューが開いている時の、それ以外の要素の条件 */
.drawer-overlay {
  background-color: transparent;
}



.container {
  width: 100%;
}

.swiper-container {
  width: 350px;
  height: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.swiper-slide {
  position: relative;
}

.swiper-image {
  position: abusolute;
  width: 100%;
  height: 100%;
}

/* positionプロパティを使用してレイアウトが崩れてしまった場合は、レスポンシブ対応をさせる場面でposition: static;でリセットできる
必要のないものはdisplay: none;で隠せる */







.histories {
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 1px solid gray;
  position: relative;
}

.image-history{
  width: 350px;
  height: 300px;
  background-color: aqua;
  position: absolute;
  top: 0;
  right: 0;
}

/* 上のイメージ画像がpositionを固定しているので、その際イメージ自体の長さ、高さは反映されなくなってしまう
→それ以降の要素を、画像と被らないように設定する必要がある */
.sentence {
  margin-right: 320px;
}



.hobby-box {
  width: 300px;
  height: 250px;
  background-color: gray;
  margin: 30px 20px;
  opacity: 0.6;
  position: relative;
}

.hobby-image {
  position: absolute;
  width: 100%;
  height: 100%;

}

.hobby-box:hover {
  opacity: 0.3;
  cursor: pointer;
  transform: translate3d(0, 5px, 0);
  box-shadow: 10px 10px 6px;
}

#full-screen-image {
  display: none;
  /* 背景色が適用されていた場合でも、背景画像は背景色より前面になる */
  background: RGBA(0,0,0,.8) no-repeat center;
/* ここのurlは、本来ulr("../..html")みたいな感じで" "が必須なのだが、今回メソッドとして呼び出しているので
cssファイルはそのまま、hobby.htmlのjQueryの記述に\"を追記することでエラーを無くした */
  background-image: url();
  background-size: contain;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  cursor: zoom-out;
}

#full-screen-image.isFullScreen {
  display: block;
}


/* Learning */

.img-practice {
  width: 100%;
  height: 100px;
}

.explain {
  margin-top: 100px;
  font-size: 200%;
}

.scrollme {
  width: 100%;
  background-color: white;
  position: relative;
  z-index: -20;
}

.animateme {
  width: 400px;
  height: 350px;
  background-color: lightblue;
}


.fadeIn {
  opacity: 0;
  transition: 4s;
}
.fadeIn.is-show {
  opacity: 1;
}

.moving-up {
  width: 400px;
  height: 500px;
  position: absolute;
  top: 100px;
  right: 100px;
  z-index: -10;


}

/* .moving-up2 {
  width : 100%;
  height: 100%;
  background-image: url("images/HTML5 Logo.jpeg");
} */


.myBoxA {
  width: 170px;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #d73f22;
  color: rgb(236, 228, 228);
  position: relative;
  transform: rotateX(-90deg);
  transform-style: preserve-3d;
}

.myBoxB {
  width: 170px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center top;
  transform: rotateX(-90deg);
}

.myBoxB span {
  display: block;
  padding: 10px 0;
  border: 1px solid #d73f22;
  background-color: #fff;
  color: #d73f22;
  transform: rotateX(-180deg);
}

.perspective {
  margin-top: 150px;
  perspective: 600px;
  z-index: 100;
}


/* Learning2 */
.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  opacity: 0;
}
.hsContent {
  max-width: 450px;
  margin: -150px auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  color: #ebebeb;
  padding: 0 8%;
  text-align: center
}
.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}
/* Slide 1 */
#slide-1 .bcg {
  background-image:url('./images/changing color leaves.jpeg');
}






@media screen and (max-width: 991px) {

  .swiper-container {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
 
}

@media screen and (max-width: 767px) {


  /* history画面 */
  .histories {
    width: 100%;
    /* staticでpositionを解除 */
    position: static;
  }

  .image-history {
    width: 400px;
    height: 300px;
    margin-top: 30px;
    position: static;
  }

  .sentence {
    margin: 0;
  }
}